<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".glb" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
            <mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
        </staticContent>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="401" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="405" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="406" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="412" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="501" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
            <error statusCode="502" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
